.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: var(--component-padding);
    text-align: center;
    gap: var(--component-inner-gap);
}

.title {
    margin: 0;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-light);
}

.description {
    margin: 0;
    font-size: var(--font-size-md);
    color: var(--color-gray-light);
}

.action {
    width: 100%;
    max-width: 400px;
    margin-top: var(--component-inner-gap);
}
