# ─────────────────────────────────────
# Python
# ─────────────────────────────────────

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.egg-info/
dist/
build/

# Environment
.env
.env.*
!.env.example


# ─────────────────────────────────────
# Next.js / Node
# ─────────────────────────────────────

node_modules/
.next/
out/
.turbo/
*.tsbuildinfo
tsconfig.tsbuildinfo

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ─────────────────────────────────────
# PNPM
# ─────────────────────────────────────
.pnpm-store/
**/.pnpm-store/

# ─────────────────────────────────────
# OS
# ─────────────────────────────────────

.DS_Store
Thumbs.db


# ─────────────────────────────────────
# IDE
# ─────────────────────────────────────

.vscode/
.idea/