.prompt {
    position: absolute;
    top: var(--scale-5);
    right: var(--scale-5);
    z-index: var(--z-index-3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--scale-6) + var(--scale-3));
    height: calc(var(--scale-6) + var(--scale-3));
    border-radius: 50%;
    background-color: color-mix(in srgb, var(--color-black-0) 56%, transparent);
    color: var(--accent-color);
    cursor: pointer;
}

.prompt:hover {
    background-color: color-mix(in srgb, var(--color-black-0) 72%, transparent);
}

.prompt:focus-visible {
    outline: var(--scale-1) solid var(--color-gray-light);
    outline-offset: var(--scale-2);
}
