.loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--component-outer-gap);
    max-width: 425px;
}

.loginFormHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--component-inner-gap);
    
}

.loginFormHeaderTitle {
    font-size: var(--font-hero-title);
    font-weight: var(--font-hero-title-weight);
    color: var(--hero-title-color);
}

.loginFormHeaderTitleAccent {
    color: var(--accent-color);
}

.loginFormHeaderDescription {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--muted-color);
}

.loginFormBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--component-inner-gap);
}

.loginFormFooterLink {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    color: var(--muted-color);
    align-self: flex-start;
    margin: var(--scale-2) var(--scale-4);
}

.loginFormFooterLink a {
    color: var(--accent-color);
    text-decoration: none;
}

.loginFormFooterLink a:hover {
    color: var(--accent-gray-black);
}

.loginFormBodySeparator {
    width: 100%;
    height: 1px;
    background-color: var(--color-black-4);
    margin: var(--scale-4) 0;
}