

body {
    font-family: var(--core-font-family);
    font-size: var(--core-font-size);
    font-weight: var(--core-font-weight);
    color: var(--core-text-color);
    background-color: var(--core-background-color);
    
}

