:root {

    /* Font  Family*/
    --font-ubuntu: 'Ubuntu', sans-serif;

    /* Colors */
    --color-transparent: transparent;
    /* Black */
    --color-black-0: #010101;
    --color-black-1: #0a0a0a;
    --color-black-2: #0e0e0e; 
    
    --color-black-3: #161616;
    --color-black-4: #2b2b2b;

    /* Gray */
    --color-gray-light: #a9a8a8;
    --color-gray-black: #5e5e5e;
    

    /* White */
    --color-white-0: #dedede;



    /* Font Sizes */
    --font-size-xs: 0.75rem;     /* 12px */
    --font-size-sm: 0.875rem;       /* 14px */
    --font-size-md: 1rem;    /* 16px */
    --font-size-lg: 1.563rem;   /* 25px */
    --font-size-xl: 1.953rem;   /* 30px */
    --font-size-2xl: 2.441rem;  /* 38px */
    --font-size-3xl: 3.052rem; /* 48px */
    --font-size-4xl: 3.815rem; /* 60px */

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
   
    /* Margins */
    --margin-sm:12px;
    --margin-md:16px;
    

   /* Scale */
   --scale-0:0px;
   --scale-1:1px;
   --scale-2:2px;
   --scale-3:4px;
   --scale-4:8px;
   --scale-5:16px;
   --scale-6:32px;
   --scale-7:64px;

    
}