:root {

    /* Colors */

    /* Black */
    --color-black-0: #000000;
    --color-black-1:#0f0f0f;
    --color-black-2:#252525;
    --color-black-3:#2e2e2e;
    --color-black-4:#3d3d3d;
    
    /* White */
    --color-white-0: #ffffff;
    --color-white-1:#f5f5f5;

    /* Primary */
    --color-orange-500: #f38208;
    
    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;

    --font-size-1: 0.75rem;
    --font-size-2: 0.875rem;
    --font-size-3: 1rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1.5rem;
    --font-size-7: 1.75rem;
    --font-size-8: 2rem;
    --font-size-9: 2.5rem;

   

    /* Breakpoints */
    --breakpoint-1: 320px;
    --breakpoint-2: 480px;
    --breakpoint-3: 768px;
    --breakpoint-4: 1024px;

    /* Scale */
    --scale-0: 0px;
    --scale-25: 1px;
    --scale-50: 2px;
    --scale-100: 4px;
    --scale-200: 8px;
    --scale-300: 12px;
    --scale-400: 16px;
    --scale-500: 20px;
    --scale-600: 24px;
    --scale-700: 28px;
    --scale-800: 32px;
    --scale-900: 36px;
    --scale-1000: 40px;
    
}