:root {

    /* Colors */

    /* Black */
    --color-black-0: #000000;
    --color-black-1:#1e1e1e;
    --color-black-2:#2c2c2c;
    --color-black-3:#383838;
    --color-black-4:#444444;
    
    /* White */
    --color-white-0: #ffffff;
    --color-white-1:#e0e0e0;
    --color-muted-0: #8b8b8b;
    /* Primary */
    --color-orange-500: #ee720d;
    --color-orange-600: #e0660c;
    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;

    --font-size-1: 0.75rem;
    --font-size-2: 0.875rem;
    --font-size-3: 1rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1.5rem;
    --font-size-7: 1.75rem;
    --font-size-8: 2rem;
    --font-size-9: 2.5rem;

   

    /* Breakpoints */
    --breakpoint-1: 320px;
    --breakpoint-2: 480px;
    --breakpoint-3: 768px;
    --breakpoint-4: 1024px;

    /* Scale */
    --scale-0: 0px;
    --scale-25: 1px;
    --scale-50: 2px;
    --scale-100: 4px;
    --scale-200: 8px;
    --scale-300: 12px;
    --scale-400: 16px;
    --scale-500: 20px;
    --scale-600: 24px;
    --scale-700: 28px;
    --scale-800: 32px;
    --scale-900: 36px;
    --scale-1000: 40px;
    
}