

:root {

    /* Core */
    --core-background-color: var(--color-black-0);
    --core-text-color: var(--color-gray-light);
    --core-font-family: var(--font-ubuntu);
    --core-font-size: var(--font-size-md);
    --core-font-weight: var(--font-weight-regular);
    
    /* Colors */
    --accent-color: var(--color-white-0);
    --muted-color: var(--color-gray-black);

    
    /* Font */
    --font-hero-title: var(--font-size-2xl);
    --font-hero-title-weight: var(--font-weight-bold);
    --hero-title-color: var(--color-gray-black);

    /* Components */
    --component-inner-gap:var(--scale-4);
    --component-outer-gap:var(--scale-6);

    /* Input */
    --input-background-color: var(--color-black-2);
    --input-border-color: var(--color-transparent);
    --input-border-width: var(--scale-1);
    --input-border-radius: var(--scale-4);
    --input-padding: var(--scale-5) var(--scale-5);
    --input-font-size: var(--font-size-sm);
    --input-font-weight: var(--font-weight-regular);
    --input-color: var(--color-gray-light);
    --input-placeholder-color: var(--color-gray-black);
    --input-border-color-hover: var(--color-black-4);
    --input-border-color-focus: var(--color-gray-light);

    /* Button */
    --button-background-color: var(--color-white-0);
    --button-background-color-hover: var(--color-gray-light);
    --button-color: var(--color-black-0);
    --button-border-color: var(--color-transparent);
    --button-border-width: var(--scale-1);
    --button-border-radius: var(--scale-4);
    --button-padding: var(--scale-5) var(--scale-5);
    --button-font-size: var(--font-size-sm);
    --button-font-weight: var(--font-weight-medium);

    --button-secondary-background-color: var(--color-black-3);
    --button-secondary-background-color-hover: var(--color-black-4);
    --button-secondary-color: var(--color-gray-light);
}