.input {
    width: 100%;
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    color: var(--input-color);
    background-color: var(--input-background-color);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    outline: none;
}

.input::placeholder {
    color: var(--input-placeholder-color);
}

.input:hover {
    border-color: var(--input-border-color-hover);
}

.input:focus {
    border-color: var(--input-border-color-focus);
}   

.input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
