.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--scale-4);
    width: 100%;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border: var(--button-border-width) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    outline: none;
}

.primary {
    color: var(--button-color);
    background-color: var(--button-background-color);
}

.primary:hover {
    background-color: var(--button-background-color-hover);
}

.secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-background-color);
}

.secondary:hover {
    background-color: var(--button-secondary-background-color-hover);
}

.button:focus-visible {
    border-color: var(--color-gray-light);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button svg {
    flex-shrink: 0;
}
