.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--component-outer-gap);
    max-width: 425px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--component-inner-gap);
}

.title {
    font-size: var(--font-hero-title);
    font-weight: var(--font-hero-title-weight);
    color: var(--hero-title-color);
}

.titleAccent {
    color: var(--accent-color);
}

.description {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--muted-color);
    text-wrap: pretty;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--component-inner-gap);
}

.footerLink {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    color: var(--muted-color);
    align-self: flex-start;
    margin: var(--scale-2) var(--scale-4);
}

.footerLink a {
    color: var(--accent-color);
    text-decoration: none;
}

.footerLink a:hover {
    color: var(--muted-color);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-black-4);
    margin: var(--scale-4) 0;
}

.messageError,
.messageOk {
    width: 100%;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    align-self: flex-start;
}

.messageError {
    color: var(--accent-color);
}

.messageOk {
    color: var(--muted-color);
}
